/* Colores corporativos */
:root {
    --color-principal: #db3333; /* El color de las barras */
    --blanco: #ffffff;
    --gris-oscuro: #333333;
    --negro: #000000;
}


/* Pie de página */
footer.bg-light {
    background-color: var(--color-principal)!important;
    color: var(--negro);
    text-align: center;
    padding: 10px;
}

.hover-lift {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Separación entre los botones del navbar */
.navbar-nav .nav-item {
  margin-right: 4.5rem; /* Ajusta este valor según lo necesites */
}
/* Animación de subrayado en los links del navbar */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajusta según necesites */
  width: 0;
  height: 2px;
  background: var(--color-principal); /* Usa tu color corporativo */
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Opcional: animación de color en el link */
.nav-link:hover,
.nav-link:focus {
  color: var(--color-principal);
}

/* Ajuste de tipografía para una apariencia más moderna */
body, p, h1, h2, h3, h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Estilos para mantener la proporción 15:8 */
.carousel-item {
  aspect-ratio: 15/8; /* Proporción 15:8 basada en tus dimensiones */
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recorta la imagen sin deformarla */
}